body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
logo {height: 50px;
    width: 25px;
}
 /* h1 {
	font-size: 40px;
	color: orange;
	font-family: Optima light, sans-serif;
}  */




.hero {
	padding: 250px 0;
	margin: 30px;
}

	h1	{ font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
font-size: 40px;
font-style: normal;
font-variant: normal;
font-weight: 50;
line-height: 26.4px;
color: orange;
}

h2 {font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
		font-size: 32px;
		font-style: normal;
		font-variant: normal;
		font-weight: 50;
		line-height: 26.4px;
		color: red;
}
