body {
	body {
	  font-family: 'Lato', sans-serif;
	  background-image: url('https://orangegnaro.github.io/set-up-test/assets/collage01.png');
	  background-position: center top;
	  background-size: cover;
	  margin: 0;
	}
}
.logo {height: 10px;
    width: 5px;
		padding: 250px 0;
		margin: 30px;
}

h1	{ font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
font-size: 40px;
font-style: normal;
font-variant: normal;
font-weight: 50;
line-height: 26.4px;
color: #FE5000;
}


h2 {font-family: Courier New, Arial, sans-serif;
		font-size: 32px;
		font-style: normal;
		font-variant: normal;
		font-weight: 50;
		line-height: 26.4px;
		color: #6699ff;
}

h3 {font-family: Palatino, Arial, sans-serif;
		font-size: 32px;
		font-style: normal;
		font-variant: normal;
		font-weight: 50;
		line-height: 26.4px;
		color: #FE5000;


}
 /* h1 {
	font-size: 40px;
	color: #FE5000;
	font-family: Optima light, sans-serif;
}  */




.hero {
	padding: 250px 0;
	margin: 30px;
}
